# .env
.env

.vscode

## maven
maven/**/target

docker/**/Makefile
docker/**/Dockerfile
docker/**

##nodejs1
node1/**/node_modules
node1/**/package-lock.json
node1/**/package.json

node
node/*

##python
python/**/Makefile
python/**/__pycache__/
python/**/secret.json
python/**/*.png
